.checked-snippet label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checked-snippet input[type=checkbox] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

.checked-snippet input[type=checkbox] + label {
    height:30px;
    width: 40px;
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
    color: transparent;
}

.checked-snippet input[type=checkbox]:checked + label {
    background-position: -40px 0;
}

.checked-snippet label{
    background-image:url(checkmark.png);
}

#LSResult {
    margin: 0 0 0 -7em;
}

.answerComment {
    padding-left: 3em;
}
.answerComment .boardCommentBody {
    font-size: 80%;
}
.answerComment .boardCommentActions {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/* @@all-questions view */
.allPBQuestions {
    margin-right: 10%;
}
.allPBQuestions .questionItem {
    clear: both;
}
.allPBQuestions .counts {
    width: 15%;
    float: left;
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}
.allPBQuestions .questionData {
    padding-left: 15%;
}
.allPBQuestions .authorPortraitMini {
    float: right;
    min-width: 15%;
}
.allPBQuestions .authorPortraitMini {
    text-align: center;
}
.allPBQuestions .authorPortraitMini img {
    width: 50%;
}
